# ignore node modules and env and all other files that should not be tracked by git

node_modules/
.env
.DS_Store

# all the node modules in the nested folder should not included
**/node_modules/
**/env
**/.DS_Store
**/.env
